
html{
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth; /*滾動平滑*/
}

html, body {
  font-family: Noto Serif SC, serif;
}


:root{
    --color-primary:#B3D9D9;
    --color-secondary:#6FB7B7;
    --color-tertiary:#3D7878;
    --header-height:5rem;
}

section{
    min-height: 700px;
}

/*  */
/* Common */
/*  */

main{
    margin-top: var(--header-height);
}

.btn-primary{
    text-decoration: none;/*去底線*/
    color: white;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    text-align: center; /*文字置中*/
    margin-top: 2rem;
    border: 1px solid var(--color-primary);
    transition: all 0.3s; /*變化時間*/
}

.btn-primary:hover{
    background-color: white;
    color: var(--color-primary);
}

.section-heading{
    text-align: center;
    font-size: 3rem;
    position: relative;/*不會動的*/
}

.section-heading::after{
    content: "";
    position: absolute;/*絕對定位*/
    background-color: var(--color-tertiary);
    bottom: -5px;
    width: 3rem;
    height: 0.1rem;
    translate: -50%;/*自己往回移動*/
    left: 50%;
}

.hide{
    transform: translateY(300%);
}

/*  */
/* header */
/*  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-primary);
    height: var(--header-height); 
    position: fixed;/*固定在上面*/
    width: 100%;
    top: 0;
}
.header-icon{
    width: 3rem;
    filter: invert();
}
.menu-btn{
    display: none;
}
.header-nav{
    display: flex;
    gap: 2rem;
    font-weight: bold;
    transform: none;
}
.header-nav li{
    list-style: none;
}
.header-nav a{
    text-decoration: none;
    color: var(--color-tertiary);
}

#home{
    height: calc(100dvh - var(--header-height)); /*動態視窗高度*/
    display: grid;
    place-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.hero-container{
    display: flex;
}

.hero-container > * {
    width: 50%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-desc{
    font-size: 1.5rem;
}

.hero-title{
    font-size: 3rem;
}

.hero-subtitle{
    font-size: 1.5rem;
    font-weight: 300;
}

.hero-pic{
    display: flex;
    justify-content: center;
}

.hero-pic img{
    max-width: 70%;
    min-width: 200px;
    aspect-ratio: 3/2;/*圖片比例*/ 
    object-fit: cover;/*保留圖片長寬比*/
    min-height: 400px;
    border-radius: 30px; 
}

#about{
    background-color: var(--color-primary);
    color: var(--color-tertiary)
}

.about-section{
    display: flex;
    text-align: justify;
}

.about-pic{
    display: none;
}

.about-section > * {/*子層選擇器*/
    width: 50%;
}

.about-section p {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2;/*行距*/
    font-weight: 300;
}

.about-skill{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    position: sticky;
    top: var(--header-height);
}

.about-skill span{
    font-size: 1.5rem;
}

.about-skill-list{
    display: flex;
    padding: 0;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.about-skill-list li {
    list-style: none;/*取消列點*/
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: white;
    color: var(--color-tertiary);
    font-weight: 700;
}

/*  */
/* projects */
/*  */

.project{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;/*左欄位分到1.5 右欄位分到1*/
    gap: 2rem;
}

.project + .project {
    margin-top: 4rem;
}

.project-image a{
    position: sticky;
    top: calc(var(--header-height) + 1.5rem);
}

.project-image img{
    border-radius: 30px;
    aspect-ratio: 16/9;
    object-fit: cover;/*永遠尊重圖片比例為3/2*/
    border: 1px solid rgb(230, 230, 230);
}

.project-heading{
    font-size: 2rem;
    position: sticky;
    top: var(--header-height);
    background-color: white;
    padding: 1rem 0;
}

.project-desc{
    color: rgb(80, 80, 80);
    font-size: 1.25rem;
    margin-top: 1.5rem;
    text-align: justify;
}

.btn-project{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 3rem;
}

/*  */
/* carousel */
/*  */
.carousel {
    position: sticky;
    /*top: calc(var(--header-height) + 1.5rem);*/
    z-index: 1;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgb(230, 230, 230);
    aspect-ratio: 16/9;
}

.carousel-images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%; /* 關鍵：讓圖片等比例填滿容器 */
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid rgb(230, 230, 230);
    display: none;
}

.carousel-img.active {
    display: block;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 1rem;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
}

/*  */
/* Contact */
/*  */

#contact{
    background-color: rgb(230, 230, 230);
    text-align: center;
    min-height: auto;
}

.contact-desc{
    display: block;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.contact-desc1{
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}

.contact-desc2{
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}

.btn-contact{
    display: block;
    width: 200px;
    margin: 2rem auto 0;
}

/*  */
/* Footer */
/*  */

footer{
    background-color: var(--color-primary);
}

.footer-social{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-social li{
    list-style: none;
}

.footer-social img{
    width: 25px;
    filter: invert();
}

/*  */
/* Top */
/*  */

#top{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-tertiary);
    border-radius: 999px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

#top img{
   filter: invert();
}

@media (width<=900px) {
    .container{
        padding: 2rem;
    }
    .project{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .project + .project{
        margin-top: 2rem;
    }
    .project-heading{
        text-align: center;
        padding-bottom: 0.5rem;
        position: static;
        padding-top: 0;
    }
    .project-desc{
        margin-top: 0.5rem;
    }
    .btn-project{
        margin-top: 1.5rem;
    }
}

@media (width<=700px) {
    .section-heading{
        font-size: 2rem;
    }
    .about-section{
        flex-direction: column;
        align-items: center;
    }
    .about-section > * {
        width: 100%;
    }
}

@media (width<=600px) {
    .header-nav{
        flex-direction: column;
        position: fixed;
        left: 0;
        right: 0;
        background-color: var(--color-primary);
        padding-left: 0;
        top: var(--header-height);
        border-top: 1px solid white ;
        transform: translateX(100%);
        transition: 0.4s all;
    }

    .header-nav li{
        width: 100%;
        text-align: center;
    }

    .header-nav a{
        padding: 1rem 0;
        display: block;
    }

    .menu-btn{
        display: block;
        margin-left: auto;
        background: none;
        border: 0;
        cursor: pointer;
    }

    .menu-btn.clicked + nav .header-nav{
        transform: translateX(0);
    }

    .menu-btn span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: all 0.4s;
    }

    .clicked .bar1{
        transform: translate(0, 7px) rotate(45deg);
    }

    .clicked .bar2{
        opacity: 0;;
    }

    .clicked .bar3{
        transform: translate(0, -11px) rotate(-45deg);
    }

    .hero-pic{
        display: none;
    }

    .hero-container > *{
        width: 100%;
    }

    .about-pic{
        display: flex;
    }
    .about-pic{
    display: flex;
    justify-content: center;
    }

    .about-content{
        width: 100%;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .about-pic img{
        max-width: 80%;
        border-radius: 30px; 
    }
    .about-section p{
        padding: 0;
    }
    .about-skill{
        padding: 2rem 0 0;
    }

    #top{
        right: 1rem;
        bottom: 1rem;
        width: 30px;
        height: 30px;
        padding: 0;
    }
    #top img{
        width: 25px;
        height: 25px;
    }
    .project-heading {
        font-size: 1.3rem;
    }
    .project-desc{
        font-size: 1rem;
    }
    .about-section p{
        font-size: 1rem;
    }
    .section-heading{
        font-size: 1.5rem;
    }
    .contact-desc{
        font-size: 1.3rem;
    }
}